<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo?  %>
        <div class="col-xs-12 col-sm-3">
          <!-- Beginning: Card -->
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(<%= cl_image_path cocktail.photo %>)";>
            <div class="card-body">
              <h5><%= cocktail.name %></h5>
              <p><%= cocktail.description %></p>
              <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
            </div>
            <!-- Link -->
          </div>
        </div>
        <!-- End of Card Div -->

        <!-- ELSE -->
          <% else %>
            <div class="col-xs-12 col-sm-3">
          <!-- Beginning of Card DIV -->
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url("https://media.timeout.com/images/103817367/1372/772/image.jpg");“>
                <!-- Hover  -->
                <div class="card-body">
                  <h5><%= cocktail.name %></h5>
                  <p><%= cocktail.description %></p>
                <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
                </div>
              </div>
            </div>
            <!-- Link -->

        <% end %>
      <% end %>

    </div>
  </div>

