<h2><%= @cocktail.name %></h2>
<h3>Add New Dosage</h3>

<div class="input">
  <%= render "form", dose: @dose %>
</div>

<hr>

<div class="link">
  <div>
    <%= link_to cocktail_path(@cocktail) do %>
      <i class="fa fa-undo" aria-hidden="true"></i> Back to <%= @cocktail.name %> Details
    <% end %>
  </div>
  <div>
    <%= link_to cocktails_path do %>
      <i class="fa fa-undo" aria-hidden="true"></i> Back to List
    <% end %>
</div>
