<h2><%= @cocktail.name %></h2>
<h3>Add New Dosage</h3>

<div class="input">
  <%= simple_form_for [@cocktail, @dose] do |d| %>
    <%= d.input :ingredient,
      collection: Ingredient.order(:name),
      prompt: "Please select:"
    %>
    <%= d.input :description, prompt: "Please enter dosage" %>
    <%= d.submit "Submit", class: "btn btn-default" %>
  <% end %>
</div>

<hr>

<div class="link">
  <div>
    <%= link_to cocktail_path(@cocktail) do %>
      <i class="fa fa-undo" aria-hidden="true"></i> Back to <%= @cocktail.name %> Details
    <% end %>
  </div>
  <div>
    <%= link_to cocktails_path do %>
      <i class="fa fa-undo" aria-hidden="true"></i> Back to List
    <% end %>
</div>
