<!DOCTYPE html>
<html>
  <head>
    <title>Rails: Mister Cocktail</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#272424">
    <div class="navbar">
      <div class="img">
        <%= image_tag "logo", alt: "logo", width: "100px" %>
      </div>
    </div>

    </div>

    <%= yield %>

  </body>
</html>
