<!DOCTYPE html>
<html>
  <head>
    <title>Rails: Mister Cocktail</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  </head>

  <body>
    <div class="navbar">
      <!-- Logo -->
      <div class="img">
        <%= link_to cocktails_path do %>
          <%= image_tag "logo", alt: "logo", width: "100px" %>
        <% end %>
      </div>
      <!-- Search -->
      <div class="search">

      </div>
      <!-- Add Cocktail -->
      <div class="link">
        <%= link_to new_cocktail_path do %>
          <i class="fa fa-plus" aria-hidden="true"></i> Add New Cocktail
        <% end %>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
